# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env

# Node modules (para o frontend depois)
node_modules/